div#overlayMask{
    position:absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    margin:0px;
    padding:0px;
    background:#1B1B1B;
}
.overlay,
.vertical-offset {
    position:absolute !important;
}
.vertical-offset{
    top:200px!important;
}